html {
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  background-color: #f8f1ee;
}

a, a:visited, a:hover, a:active {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  background: inherit;
  border: 0;
  outline: 0;
}



input, textarea {
  outline: none;
  background: inherit;
}

textarea {
  resize: none;
  background: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  cursor: text;
}
